@model CustomerFeedbackSystem.Models.QualifiedSupplier
@{
    ViewData["Title"] = "供應商清冊-檢視";
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>

    <form asp-action="Details">
        <input type="hidden" asp-for="SupplierName" />
        <input type="hidden" asp-for="ProductClass" />
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="pop">
            @* 供應商詳細資料 *@
            @await Html.PartialAsync("_PurchaseQualifiedSuppliersDetail", Model)
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">

    </script>
}