@model string? // 傳入目前選擇的 Id
@{
    var PurchaseVerifyPerson = ViewData["PurchaseVerifyPerson"] as SelectOption?[] ?? new SelectOption[] { };
    var isRequired = ViewData["PurchaseVerifyPersonIsRequired"] as bool? ?? false;// 欄位是否必填
}

<select id="VerifyPerson"  name="VerifyPerson" class="form-select" @(isRequired ? "required" : "")>
    <option value="">請選擇</option>
    @foreach (var user in PurchaseVerifyPerson)
    {
        <option value="@user.OptionValue"
                selected="@(user.OptionValue == Model?.Trim() ? "selected" : null)">
            @user.OptionText
        </option>
    }
</select>