@model string? // 傳入目前選擇的 Id
@{
    var PurchaseReceivePerson = ViewData["PurchaseReceivePerson"] as SelectOption?[] ?? new SelectOption[] { };
    var isRequired = ViewData["PurchaseReceivePersonIsRequired"] as bool? ?? false;// 欄位是否必填
}

<select id="ReceivePerson"  name="ReceivePerson" class="form-select" @(isRequired ? "required" : "")>
    <option value="">請選擇</option>
    @foreach (var user in PurchaseReceivePerson)
    {
        <option value="@user.OptionValue"
                selected="@(user.OptionValue == Model?.Trim() ? "selected" : null)">
            @user.OptionText
        </option>
    }
</select>