@model string? // 傳入目前選擇的 Id
@{
    var PurchasePurchaser = ViewData["PurchasePurchaser"] as SelectOption?[] ?? new SelectOption[] { };
    var isRequired = ViewData["PurchasePurchaserIsRequired"] as bool? ?? false;// 欄位是否必填
}

<select id="Purchaser"  name="Purchaser" class="form-select" @(isRequired ? "required" : "")>
    <option value="">請選擇</option>
    @foreach (var user in PurchasePurchaser)
    {
        <option value="@user.OptionValue"
                selected="@(user.OptionValue == Model?.Trim() ? "selected" : null)">
            @user.OptionText
        </option>
    }
</select>