@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AssetLayout";
}
<div class="main-font">歡迎使用</div>
<div class="sub-font">文管與電子採購系統</div>
<svg class="main-bk"></svg>