font {
  font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.banner-footer {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 15px;
  font-size: 10px;
  color: rgb(65, 65, 65);
  text-align: end;
  letter-spacing: 2px;
  background-color: rgba(223, 223, 223, 0.6);
}

.tree {
  text-align: start;
  padding-left: 40px;
  font-size: 12px;
  ;
}

.user-nav {
  padding-right: 10px;

}

.tree {
  font-weight: 700;
}

@media screen and (max-width: 940px) {
  .btn1 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 809px) {
  .btn1 {
    font-size: 1.3vw;
  }

  .banner-text {
    font-size: 40px !important;
  }

}

@media screen and (max-width: 715px) {
  .btn1 {
    font-size: 1.1vw;
  }


  .user-text {
    font-size: 0.5vw;
  }

  .banner-text {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 540px) {
  .user-nav {
    display: none;
  }
}

@media screen and (max-width: 503px) {

  .banner-text {
    font-size: 25px !important;
  }

  .div-left {
    width: 60% !important;
  }

  .div-right {

    width: 40% !important;
  }
}